.conteneur{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0px;
}
#currentPageId{
    background:#777;
}

body{
    background: #4174e2;
}

nav{
    display: inline-block;
    width: 200px;
}

nav li {
    margin-top: 10px;
    background-color: #0AD; /*Bleu*/
    padding: 15px;
}


section{
    display: flex; 
    flex-flow: row wrap;
    justify-content: left;
    flex-direction: row;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: rgb(255, 255, 255);
}

header, footer{
    display: flex;
    width: 100%;
    padding: 20px 0px;
    justify-content: center;
    background-color: #777;
    box-shadow: 0px 0px 15px rgb(214, 117, 117);
}

.he{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.ligne{
    flex-direction: row; /*Axe principal = axe horizontal*/
}
.colonne{
    flex-direction: column; /*Axe principal = axe vertical*/
}

.element-flexible{
    flex: 1 1 50px;
    width: 20%;
    height: fit-content;
    background-color: #0DA; /*Vert*/
    box-sizing: border-box;
    margin: 10px;
}